.contact-banner {
  background: linear-gradient(
      180deg,
      rgba(57, 181, 74, 0.9),
      rgba(11, 107, 138, 0.9)
    ),
    url("../../../public/assets/img/footer-bg.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
  border-radius: 100%/0 0 50% 50%;
}

.info-column {
  background: linear-gradient(
      180deg,
      rgba(27, 129, 211, 0.9),
      rgba(27, 129, 211, 0.9)
    ),
    url("../../../public/assets/img/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-icon {
  color: white;
  font-size: 2rem;
}

.contact-link {
  font-size: 24px !important;
  color: white;
  text-decoration: none;
}

.contact-link:hover {
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.form-container .form-control {
  border-radius: 0;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 2px solid #ced4da;
  padding: 0.75rem;
  margin: 1rem 0;
}

.form-container .form-control:focus {
  border-top-color: #ced4da;
  border-left-color: #ced4da;
  border-right-color: #ced4da;
  box-shadow: none !important;
  border-color: #ced4da;
  outline: 0;
}

.btn-contact-submit {
  border: 0;
  background: #39b54a;
  color: white;
  text-transform: uppercase;
  padding: 0.75rem 5rem;
  width: 100%;
  transition: all 220ms linear;
  font-weight: 600;
  font-size: 1.5rem;
}

.btn-contact-submit:hover,
.btn-contact-submit:focus {
  color: black;
  background: #ffcb05 !important;
}
