.home-hero-container {
  background: linear-gradient(
      180deg,
      rgba(57, 181, 74, 0.9),
      rgba(11, 107, 138, 0.9)
    ),
    url("../../../public/assets/img/footer-bg.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 0;
  border-radius: 100%/0 0 50% 50%;
}

.hero-descriptor {
  color: #f2f2f2;
  font-size: 1rem;
}

.btn-hero {
  color: white;
  border: 2px solid white;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5rem;
  padding: 0.75rem 1.5rem;
  transition: all 220ms ease-in-out;
}

.btn-hero:hover,
.btn-hero:focus {
  color: white !important;
  background: #049ae7 !important;
  border-color: #049ae7 !important;
}

.hero-img {
  width: 80%;
  border: 1px solid white;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.icon-png {
  width: 30%;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.item-icon {
  width: 20%;
}

.card {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  border: 0;
  box-shadow: 0px 0px 20px 0px rgb(39 42 46 / 6%);
  transition: all 220ms ease-in-out;
}

.card:hover {
  box-shadow: 0px 6px 37px 0px rgb(191 191 191 / 50%);
}

.card-title {
  color: #282828;
}

.item-text {
  color: #333333;
  font-size: 1rem;
  line-height: 1.5rem;
}

.rounded-card {
  background: linear-gradient(
      110deg,
      rgba(8, 169, 227, 0.9),
      rgba(5, 141, 24, 0.9)
    ),
    url("../../../public/assets/img/new-home-14-client-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  max-width: 1140px;
}

.img-link {
  width: 100%;
  transition: all 220ms ease-in;
}

.img-link:hover {
  width: 95%;
}
